html {
  box-sizing: border-box;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.hello {
    color: red;
}

body {
  background-image: linear-gradient();
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameboard {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}